<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dog Hero - Single Page Application</title>

    
    <link href="https://doghero-assets.s3.amazonaws.com/assets/favicons/favicon-fa5fb295a0241d44533b0b0063e9be1e.ico" rel="shortcut icon" />
    <link rel="stylesheet" type="text/css" href="css/default.css" />
    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>    
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-resource.min.js"></script>    
    
    <script src="scripts/script.js"></script>

</head>
<body ng-app="single-page-app">
    <div ng-controller="cfgController" id="content">

            <h1 class="center">
                Image Search
            </h1>

            <div class="call-to-action">
                <p class="center">
                E se no instagram ao invés escolher qual foto e qual a legenda publicar, você só pudesse fazer metade? É assim na nossa busca: a imagem vem do flickr, o texto do twitter e o resultado é uma surpresa. <!-- Escolha uma palavra-chave ou hashtag e teste. -->
                </p>
            </div>


            <form ng-submit="getResults()">
                <fieldset class="center">
                    <label>Palavra-chave ou hastag:</label>
                    <input type="text" max-chars="40" placeholder="Sugestões: #dogs, #pets, filhotes de cachorro" ng-model="hashtag" spellcheck="false" value="{{hashtag}}"

                    />
                    <button>Buscar e Combinar</button>
                </fieldset>
            </form>

            <ul class="center">
                <li ng-repeat="searchItem in searchResults">
                    <img ng-src="{{searchItem.photo}}" alt="Imagem do Flickr" />

                    <p>
                        {{searchItem.tweet}}
                    </p>
                </li>   
            </ul>       
        </div>
    </div>
</body>
</html> 